@import url(defines.css);
@import url(bg.css);

* {
    box-sizing: inherit;
    /* -webkit-transition-property: all; */
    /* transition-property: all; */
    /* -webkit-transition-duration: .6s; */
    /* transition-duration: .6s; */
    /* -webkit-transition-timing-function: ease; */
    /* transition-timing-function: ease; */
}

html, body {
    box-sizing: border-box;
    font-size: 16px;
}
body>main {
	padding: 0;
}
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.y-mandatory {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}
.ele {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    height: 100%;
	min-height: 95vh;
    margin: auto;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.social {
    display: flex;
    align-items: center;
}
.social a {
    margin: 0 0.5em;
    display: inline;
    color: aliceblue;
}
.social a:hover {
    text-decoration: none;
}
.social a img {
    width: auto;
    height: 1rem;
    padding-right: 0.5rem;
}
.flex {
    display: flex;
}
html::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2300%26quot%3b)' fill='none'%3e%3crect width='711.2800000000001' height='711.2800000000001' clip-path='url(%26quot%3b%23SvgjsClipPath2301%26quot%3b)' x='501.49' y='-306.65' fill='url(%23SvgjsPattern2302)' transform='rotate(335.21%2c 857.13%2c 48.99)'%3e%3c/rect%3e%3cpath d='M419.22 45.48L407.52 50.68 399.87 40.41 388.17 45.62 380.52 35.35 368.83 40.56 361.18 30.29' stroke='rgba(196%2c 212%2c 209%2c 1)' stroke-width='1.18' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M928.4 239.48a5.6 5.6 0 1 0-6.39 9.2 5.6 5.6 0 1 0 6.39-9.2zM919.27 252.62a5.6 5.6 0 1 0-6.4 9.19 5.6 5.6 0 1 0 6.4-9.19zM910.13 265.75a5.6 5.6 0 1 0-6.4 9.2 5.6 5.6 0 1 0 6.4-9.2zM900.99 278.89a5.6 5.6 0 1 0-6.39 9.19 5.6 5.6 0 1 0 6.39-9.19z' fill='rgba(64%2c 89%2c 84%2c 1)'%3e%3c/path%3e%3crect width='633.04' height='633.04' clip-path='url(%26quot%3b%23SvgjsClipPath2303%26quot%3b)' x='1079.37' y='-133.23' fill='url(%23SvgjsPattern2304)' transform='rotate(95.83%2c 1395.89%2c 183.29)'%3e%3c/rect%3e%3crect width='642.6' height='642.6' clip-path='url(%26quot%3b%23SvgjsClipPath2305%26quot%3b)' x='1454.13' y='328.93' fill='url(%23SvgjsPattern2306)' transform='rotate(225.13%2c 1775.43%2c 650.23)'%3e%3c/rect%3e%3cpath d='M1153.15 844L1165.53 840.73 1171.44 852.09 1183.82 848.82 1189.73 860.18 1202.11 856.91 1208.02 868.27M1149.91 851.31L1162.29 848.04 1168.2 859.4 1180.58 856.13 1186.49 867.49 1198.87 864.22 1204.78 875.58' stroke='rgba(209%2c 191%2c 173%2c 1)' stroke-width='2.73' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='466.2' height='466.2' clip-path='url(%26quot%3b%23SvgjsClipPath2307%26quot%3b)' x='1010.24' y='-116.13' fill='url(%23SvgjsPattern2308)' transform='rotate(246.98%2c 1243.34%2c 116.97)'%3e%3c/rect%3e%3cpath d='M276.81 105.98a5.6 5.6 0 1 0-9.06 6.58 5.6 5.6 0 1 0 9.06-6.58zM263.87 115.39a5.6 5.6 0 1 0-9.07 6.58 5.6 5.6 0 1 0 9.07-6.58zM250.92 124.79a5.6 5.6 0 1 0-9.06 6.58 5.6 5.6 0 1 0 9.06-6.58zM237.98 134.19a5.6 5.6 0 1 0-9.06 6.59 5.6 5.6 0 1 0 9.06-6.59zM293.29 74.23a5.6 5.6 0 1 0-9.06 6.58 5.6 5.6 0 1 0 9.06-6.58zM280.35 83.63a5.6 5.6 0 1 0-9.06 6.59 5.6 5.6 0 1 0 9.06-6.59zM267.41 93.04a5.6 5.6 0 1 0-9.07 6.58 5.6 5.6 0 1 0 9.07-6.58zM254.46 102.44a5.6 5.6 0 1 0-9.06 6.58 5.6 5.6 0 1 0 9.06-6.58zM309.78 42.47a5.6 5.6 0 1 0-9.06 6.59 5.6 5.6 0 1 0 9.06-6.59zM296.83 51.88a5.6 5.6 0 1 0-9.06 6.58 5.6 5.6 0 1 0 9.06-6.58zM283.89 61.28a5.6 5.6 0 1 0-9.06 6.59 5.6 5.6 0 1 0 9.06-6.59zM270.95 70.69a5.6 5.6 0 1 0-9.07 6.58 5.6 5.6 0 1 0 9.07-6.58z' stroke='rgba(242%2c 209%2c 194%2c 1)' stroke-width='1.72' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2300'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='10.46' height='10.46' patternUnits='userSpaceOnUse' id='SvgjsPattern2302'%3e%3cpath d='M0 10.46L5.23 0L10.46 10.46' stroke='rgba(196%2c 212%2c 209%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2301'%3e%3ccircle r='177.82000000000002' cx='857.13' cy='48.99'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='633.04' height='7.72' patternUnits='userSpaceOnUse' id='SvgjsPattern2304'%3e%3crect width='633.04' height='3.86' x='0' y='0' fill='rgba(80%2c 138%2c 122%2c 1)'%3e%3c/rect%3e%3crect width='633.04' height='3.86' x='0' y='3.86' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2303'%3e%3ccircle r='158.26' cx='1395.89' cy='183.29'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.18' height='9.18' patternUnits='userSpaceOnUse' id='SvgjsPattern2306'%3e%3cpath d='M0 9.18L4.59 0L9.18 9.18' stroke='rgba(209%2c 191%2c 173%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2305'%3e%3ccircle r='160.65' cx='1775.43' cy='650.23'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.1' height='11.1' patternUnits='userSpaceOnUse' id='SvgjsPattern2308'%3e%3cpath d='M5.55 1L5.55 10.1M1 5.55L10.1 5.55' stroke='rgba(209%2c 191%2c 173%2c 1)' fill='none' stroke-width='3.85'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2307'%3e%3ccircle r='116.55' cx='1243.34' cy='116.97'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    -webkit-animation:kenburns-top 5s ease-in-out 5s infinite alternate-reverse backwards;animation:kenburns-top 5s ease-in-out 5s infinite alternate-reverse backwards
}
/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-22 14:17:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}