:root {
  --mineral-green: #405954;
  --lochinvar: #508A7A;
  --horizon: #C4D4D1;
  --copperfield: #D59066;
  --watusi: #F2D1C2;
  --amber: #D1BFAD;
  --smoker: #F5F5F5;
  --dark-green: #2f3e46; /* Big Stone */
  --dark-blue: #2A363B; /* Oxford Blue */
  --light-green: #99B898; /* Dark Sea Green */
  --mandy: #E84A5F;
  --salmon: #FF847C;
  --apricot: #FECEAB:
}
